*::-webkit-input-placeholder {
    color: #999;
    opacity: 1;
}

*:-moz-placeholder {
    color: #999;
    opacity: 1;
}

*::-moz-placeholder {
    color: #999;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #999;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    color: #666;
}

body input:required:valid,
body textarea:required:valid {
    color: #666;
}

html, body {
    height: 100%;
}

body {
    font-size: 14px;
    min-width: 320px;
    position: relative;
    line-height: 1.75;
    font-family: "Arial";
    overflow-x: hidden;
    opacity: 1;
}

body.no-scroll {
    overflow: hidden;
    right: 5px;
}

.img-fluid {
    display: block;
    max-width: 100%;
    height: auto;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 150%;
    z-index: 2500;
    top: -100px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
    display: none;
}

.overlay.active {
    display: block;
}

textarea:focus,
input:focus {
    outline: none;
}

.a:active,
.a:focus {
    outline: none;
}

a {
    outline: none;
    color: #358e52;
    text-decoration: underline;
}

a:hover, a:focus {
    text-decoration: none;
    color: #358e52;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
}

p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 22px;
}

@media (max-width: 767px) {
    p {
        line-height: 20px;
        margin-bottom: 18px;
    }
}

.h2 {
    font-size: 30px;
    line-height: 24px;
    -moz-text-align-last: auto;
    text-align-last: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    font-weight: 600;
    margin-top: 10px;
}

.accent {
    color: #358e52;
}

.btn,
input[type="submit"] {
    display: inline-block;
    line-height: 1.65;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 0px 20px 0px;
    -webkit-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
    border: none;
    background: #80c352;
    /* Old browsers */
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #80c352), color-stop(100%, #368f52));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #80c352 0%, #368f52 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #80c352 0%, #368f52 100%);
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#80c352), to(#368f52));
    background: linear-gradient(to bottom, #80c352 0%, #368f52 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
}

.btn:hover, .btn:active, .btn:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
    background: #368f52;
    /* Old browsers */
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #368f52), color-stop(100%, #80c352));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #368f52 0%, #80c352 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #368f52 0%, #80c352 100%);
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#368f52), to(#80c352));
    background: linear-gradient(to bottom, #368f52 0%, #80c352 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
    color: #fff;
}

.icon {
    overflow: hidden;
    background-image: url("../img/icons.png");
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.icon.search {
    width: 12px;
    height: 12px;
    background-position: 0px -10px;
}

.icon.thumb-up {
    width: 21px;
    height: 23px;
    background-position: -20px -10px;
}

.icon.geschenk {
    width: 22px;
    height: 24px;
    background-position: -41px -10px;
}

.icon.on-map {
    width: 20px;
    height: 20px;
    background-position: -64px -9px;
}

.icon.log-in {
    width: 16px;
    height: 16px;
    background-position: -86px -9px;
}

.icon.map {
    width: 14px;
    height: 18px;
    background-position: -102px -9px;
}

.icon.adr {
    width: 10px;
    height: 14px;
    background-position: -103px -82px;
}

.icon.near {
    width: 22px;
    height: 28px;
    background-position: 0px -35px;
}

.icon.health {
    width: 28px;
    height: 28px;
    background-position: -26px -34px;
}

.icon.eat {
    width: 28px;
    height: 28px;
    background-position: -56px -32px;
}

.icon.spass {
    width: 28px;
    height: 28px;
    background-position: -84px -32px;
}

.icon.fitnes {
    width: 28px;
    height: 28px;
    background-position: 0px -66px;
}

.icon.edu {
    width: 30px;
    height: 28px;
    background-position: -32px -63px;
}

.icon.close {
    width: 30px;
    height: 30px;
    background-position: -66px -63px;
}

.icon.close-small {
    width: 12px;
    height: 12px;
    background-position: -100px -66px;
}

.icon.fire {
    width: 34px;
    height: 43px;
    background-position: 0px -96px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.badge {
    position: absolute;
    font-size: 9px;
    line-height: 10px;
    font-weight: 500;
    background-color: #ee3131;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 1px 2px 0;
    top: -3px;
    margin-left: 2px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    border: none;
    display: inline-block;
    border: #ebebeb 1px solid;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 10px 0px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.form-search {
    position: relative;
}

.form-search .icon {
    position: absolute;
    top: 11px;
    right: 9px;
    cursor: pointer;
}

.form-search input {
    background-color: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    width: 100%;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 1px;
    margin-top: 6px;
    font-size: 12px;
}

.form-search input::-webkit-input-placeholder {
    color: #ababab;
    opacity: 1;
    font-size: 12px;
}

.form-search input:-moz-placeholder {
    color: #ababab;
    opacity: 1;
    font-size: 12px;
}

.form-search input::-moz-placeholder {
    color: #ababab;
    opacity: 1;
    font-size: 12px;
}

.form-search input:-ms-input-placeholder {
    color: #ababab;
    opacity: 1;
    font-size: 12px;
}

.top-line {
    background-color: #eef7f1;
    height: 40px;
    border-bottom: 2px solid #4cb76f;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.top-line ~ .header {
    margin-top: 70px;
    border-bottom: 2px #4cb76f solid;
}

.top-line .punkt {
    font-size: 14px;
    color: #5c705f;
    display: inline-block;
    margin-right: 25px;
    font-weight: 400;
    vertical-align: top;
    margin-top: 7px;
    text-decoration: none;
}

@media (max-width: 991px) {
    .top-line .punkt {
        font-size: 12px;
        margin-top: 9px;
    }
}

.top-line .punkt .icon {
    margin-right: 3px;
    position: relative;
    top: -2px;
}

.top-line .punkt.login {
    font-weight: 300;
    font-size: 12px;
    position: relative;
    margin-top: 9px;
    float: right;
    margin-right: 0;
}

@media (max-width: 991px) {
    .top-line .punkt.login {
        line-height: 12px;
        margin-top: 6px;
    }
}

.top-line .punkt.login .icon {
    position: absolute;
    left: -23px;
    top: 1px;
}

@media (max-width: 991px) {
    .top-line .punkt.login .icon {
        top: 4px;
    }
}

.header {
    margin-top: 30px;
    position: relative;
}

@media (max-width: 767px) {
    .header {
        text-align: center;
        margin-top: 50px;
    }
}

.header .city {
    position: absolute;
    right: 10px;
    top: 25px;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
    border-bottom: dashed 1px #7f7f7f;
    color: #7f7f7f;
}

@media (max-width: 1200px) {
    .header .city {
        top: 54px;
    }
}

@media (max-width: 991px) {
    .header .city {
        font-size: 11px;
        top: 43px;
        right: 16px;
    }
}

@media (max-width: 767px) {
    .header .city {
        right: 0;
        position: relative;
        top: 0;
        display: inline-block;
        margin: 0 auto;
    }
}

.header .city:hover {
    color: #358e52;
}

@media (max-width: 767px) {
    .header .logo {
        margin: 0 auto;
        width: 200px;
        display: block;
    }
}

.header .logo img {
    padding-top: 12px;
}

@media (max-width: 991px) {
    .header .logo img {
        width: 100%;
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    .header .logo img {
        width: 200px;
        margin: 0 auto;
    }
}

.header .col-xs-7,
.header .col-md-7 {
    position: static;
}

.header .add {
    font-size: 14px;
    font-weight: 500;
    color: #497156;
    position: relative;
    top: 24px;
    float: right;
    text-decoration: none;
}

@media (max-width: 991px) {
    .header .add {
        margin-left: -10px;
        font-size: 12px;
        line-height: 12px;
        top: 21px;
    }
}

@media (max-width: 767px) {
    .header .add {
        top: 10px;
    }
}

.header .add:hover {
    color: #358e52;
}

.header .nav {
    margin-top: 25px;
}

@media (max-width: 991px) {
    .header .nav {
        margin-top: 17px;
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media (max-width: 1200px) {
    .header .nav ul {
        margin-top: -2px;
    }
}

.header .nav ul li {
    display: inline-block;
    margin-right: 53px;
    padding-bottom: 1px;
}

@media (max-width: 1200px) {
    .header .nav ul li {
        margin-right: 30px;
    }
}

@media (max-width: 991px) {
    .header .nav ul li {
        margin-right: 12px;
    }
}

.header .nav ul li:hover {
    border-bottom: #358e52 1px solid;
    cursor: pointer;
}

.header .nav ul li:hover .pop-menu {
    display: block;
}

.header .nav ul li:hover .arrow {
    background-color: #358e52;
}

.header .nav ul li:hover .arrow:after {
    border-top-color: #edf7f1;
}

.header .nav ul li a {
    font-size: 18px;
    color: #5c705f;
    line-height: 18px;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .header .nav ul li a {
        font-size: 15px;
    }
}

@media (max-width: 991px) {
    .header .nav ul li a {
        font-size: 13px;
    }
}

.header .nav ul li a .arrow {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #edf7f1;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    margin-left: 10px;
}

@media (max-width: 1200px) {
    .header .nav ul li a .arrow {
        top: 2px;
    }
}

@media (max-width: 991px) {
    .header .nav ul li a .arrow {
        margin-left: 4px;
        width: 12px;
        height: 12px;
        top: 2px;
    }
}

.header .nav ul li a .arrow:after {
    content: '';
    border: 4px solid transparent;
    /* Прозрачные границы */
    border-top: 4px solid #358e52;
    /* Добавляем треугольник */
    position: absolute;
    top: 6px;
    left: 3px;
}

@media (max-width: 991px) {
    .header .nav ul li a .arrow:after {
        top: 5px;
        left: 3px;
        border-width: 3px;
    }
}

.menu-3 {

}
.section-main{

}

@media (max-width: 1200px) {
    .menu-3 {
        margin-bottom: 30px;
    }
}

@media (max-width: 991px) {
    .menu-3 {
        margin-top: 35px;
        margin-bottom: 15px;
    }
}

@media (max-width: 767px) {
    .menu-3 {
        margin-top: 20px;
    }
}

@media (max-width: 991px) {
    .menu-3 ul {
        padding-top: 10px;
    }
}

.menu-3 ul li {
    display: inline-block;
    margin-right: 24px;
}

@media (max-width: 1200px) {
    .menu-3 ul li {
        margin-right: 17px;
    }
}

@media (max-width: 991px) {
    .menu-3 ul li {
        margin-top: 0;
    }
}

.menu-3 ul li:last-child {
    margin-right: 0;
}

.menu-3 ul li a {
    color: #497156;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .menu-3 ul li a {
        font-size: 12px;
    }
}

.menu-3 ul li:hover a {
    text-decoration: underline;
}

.sort-line {
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    .sort-line {
        font-size: 12px;
    }
}

.sort-line .choosen {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    color: #565656;
    background-color: #ebebeb;
    display: block;
    float: left;
    height: 31px;
    line-height: 33px;
    padding-left: 11px;
    padding-right: 11px;
}

@media (max-width: 991px) {
    .sort-line .choosen {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.sort-line .choosen .num {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    padding: 5px 5px 4px;
    background: #80c352;
    /* Old browsers */
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #80c352), color-stop(100%, #368f52));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #80c352 0%, #368f52 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #80c352 0%, #368f52 100%);
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#80c352), to(#368f52));
    background: linear-gradient(to bottom, #80c352 0%, #368f52 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
}

.sort-line .btn {
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 16px;
    padding-right: 16px;
}

@media (max-width: 991px) {
    .sort-line .btn {
        padding-left: 7px;
        padding-right: 7px;
        font-size: 12px;
        padding-bottom: 5px;
        padding-top: 6px;
    }
}

.sort-line .btn.map {
    float: left;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

.sort-line .btn.map .icon {
    margin-right: 4px;
    top: -2px;
    left: -2px;
}

@media (max-width: 991px) {
    .sort-line .btn.map .icon {
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
        top: -1px;
        margin-right: 2px;
    }
}

.sort-line .btn.right {
    float: right;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 767px) {
    .sort-line .btn.right {
        float: left;
        margin-top: 10px;
    }
}

.sort-line .btn.right:nth-child(3) {
    border-right: none;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

.sort-line .btn.right:nth-child(5) {
    border-left: none;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
}

@media (max-width: 767px) {
    .sort-line .btn.right:nth-child(5) {
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        -webkit-border-bottom-left-radius: 0;
        border-bottom-left-radius: 0;
        -webkit-border-top-left-radius: 0;
        border-top-left-radius: 0;
    }
}

.sort-line .btn.right:nth-child(4) {
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

@media (max-width: 767px) {
    .sort-line .btn.right:nth-child(4) {
        border-left: none;
        -webkit-border-bottom-left-radius: 3px;
        border-bottom-left-radius: 3px;
        -webkit-border-top-left-radius: 3px;
        border-top-left-radius: 3px;
    }
}

@media (max-width: 767px) {
    .sort-line .btn.right:nth-child(6) {
        -webkit-border-bottom-left-radius: 0;
        border-bottom-left-radius: 0;
        -webkit-border-top-left-radius: 0;
        border-top-left-radius: 0;
    }
}

.card {
    margin-bottom: 30px;
    display: block;
}

@media (max-width: 767px) {
    .card {
        margin-bottom: 25px;
    }
}

.card:hover .card-content .text {
    text-decoration: underline;
}

.card .img {
    height: 135px;
    background-position: center center;
}

@media (max-width: 767px) {
    .card .img {
        -webkit-background-size: cover;
        background-size: cover;
        height: 180px;
    }
}

.card .card-content {
    background-color: #358e52;
    padding: 13px 13px 12px;
    height: 114px;
}

@media (max-width: 1200px) {
    .card .card-content {
        padding: 10px;
    }
}

@media (max-width: 767px) {
    .card .card-content {
        height: auto;
    }
}

.card .card-content .text {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    margin-right: 2px;
    margin-left: 2px;
    padding-right: 5px;
    padding-bottom: 10px;
    color: #fff;
    border-bottom: dashed 1px rgba(255, 255, 255, 0.3);
}

.card .card-content .adress {
    font-size: 10px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.7);
    float: left;
    padding-top: 11px;
}

@media (max-width: 1200px) {
    .card .card-content .adress {
        font-size: 9px;
    }
}

.card .card-content .adress .icon {
    margin-right: 7px;
    margin-left: 2px;
}

@media (max-width: 1200px) {
    .card .card-content .adress .icon {
        margin-right: 4px;
    }
}

.card .card-content .adress .addr {
    display: inline-block;
    vertical-align: middle;
}

.card .card-content .sale {
    color: #fff;
    font-weight: 900;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    float: right;
    position: relative;
    top: 11px;
}

@media (max-width: 1200px) {
    .card .card-content .sale {
        font-size: 8px;
    }
}

.card .card-content .sale .num {
    text-outline: none;
    font-size: 24px;
    display: block;
    line-height: 14px;
}

@media (max-width: 1200px) {
    .card .card-content .sale .num {
        font-size: 20px;
    }
}

.card.big .img {
    height: 360px;
}

.card.big .card-content {
    padding: 25px 27px 12px;
    height: 168px;
}

@media (max-width: 767px) {
    .card.big .card-content {
        padding: 15px 10px 20px;
        height: auto;
    }
}

.card.big .card-content .text {
    font-size: 16px;
    line-height: 21px;
    margin-left: 2px;
    margin-right: -3px;
    padding-bottom: 15px;
}

.card.big .card-content .adress {
    font-size: 12px;
    line-height: 15px;
    padding-top: 28px;
}

@media (max-width: 767px) {
    .card.big .card-content .adress {
        padding-top: 20px;
    }
}

.card.big .card-content .adress .icon {
    margin-right: 12px;
}

.card.big .card-content .sale {
    font-size: 12px;
    top: 29px;
    right: -6px;
}

@media (max-width: 767px) {
    .card.big .card-content .sale {
        top: 20px;
        right: 0;
    }
}

.card.big .card-content .sale .num {
    font-size: 30px;
    line-height: 19px;
}

.aside {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 100;
    position: relative;
    top: -40px;
    padding-top: 14px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
    .aside {
        top: -90px;
    }
}

@media (max-width: 991px) {
    .aside {
        padding-top: 10px;
    }
}

.aside .aside-block .aside-header {
    background-color: #eef7f1;
    border-top: 2px #4cb76f solid;
    position: relative;
    padding-top: 10px;
    padding-bottom: 3px;
}

.aside .aside-block .aside-header .icon {
    position: absolute;
    top: 4px;
    left: 29px;
}

@media (max-width: 1200px) {
    .aside .aside-block .aside-header .icon {
        left: 10px;
    }
}

.aside .aside-block .aside-header .block-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 12px;
    display: inline-block;
    margin-left: 67px;
}

@media (max-width: 1200px) {
    .aside .aside-block .aside-header .block-name {
        margin-left: 45px;
    }
}

.aside .aside-block .aside-header .block-name a {
    font-size: 10px;
    text-decoration: underline;
    font-weight: 300;
    color: #000;
}
.aside .aside-block .block-content a {
    text-decoration: none;
    color: #000;
}

.aside .aside-block .aside-header .block-name a:hover {
    text-decoration: none;
}

.aside .aside-block .block-content {
    background-color: #fff;
    padding: 10px 30px 25px;
}

@media (max-width: 1200px) {
    .aside .aside-block .block-content {
        padding: 10px 15px 20px;
    }
}

.aside .aside-block .block-content form {
    width: 100%;
}

.aside .aside-block .block-content form input {
    width: 100%;
}

@media (max-width: 991px) {
    .aside .aside-block .block-content form input {
        margin-top: -10px;
    }
}

.aside .aside-block .block-content form input[type="submit"] {
    padding-top: 7px;
    padding-bottom: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .aside .aside-block .block-content form input[type="submit"] {
        margin-top: 0;
        margin-bottom: 5px;
    }
}

.aside .aside-block .block-content .in-block {
    margin-bottom: 15px;
}

.aside .aside-block .block-content .in-block .desc {
    margin-bottom: 13px;
}

.aside .aside-block .block-content .under-desc {
    color: #9c9c9c;
    font-size: 12px;
    line-height: 15px;
}

.aside .aside-block .block-content .check-block:first-child {
    margin-top: 13px;
}

@media (max-width: 991px) {
    .aside .aside-block .block-content .check-block:first-child {
        margin-top: 5px;
    }
}

.section-map .aside {
    top: -61px;
    position: absolute;
    height: 609px !important;
    background-color: #fff;
}

@media (max-width: 767px) {
    .section-map .aside {
        display: block;
        position: relative;
        height: auto !important;
        margin-bottom: -60px;
    }
}

.section-map .aside .block-name {
    margin-top: 0;
    top: -2px;
    position: relative;
}

.section-map .aside .block-content {
    padding-top: 15px;
}

.section-map .aside .block-content .in-block .desc {
    font-size: 12px;
    line-height: 17px;
}

.section-map .aside .block-content .in-block .styled-select {
    margin-bottom: 20px !important;
    width: 100%;
}

.check-block {
    cursor: pointer;
}

.check-block .check {
    width: 13px;
    height: 13px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #358e52;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 3px;
}

.check-block .check.active {
    background-image: url(../img/check.png);
    background-position: center center;
}

.check-block .left {
    font-size: 13px;
    font-weight: 300;
}

.check-block .right {
    font-size: 10px;
    color: #9c9c9c;
    font-weight: 500;
    position: relative;
    top: 4px;
}

.content ul {
    margin-bottom: 25px;
}

.content ul li {
    padding-left: 30px;
    position: relative;
}

@media (max-width: 767px) {
    .content ul li {
        margin-bottom: 5px;
        line-height: 18px;
    }
}

.content ul li:after {
    content: '';
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    display: block;
    border: 1px #358e52 solid;
    top: 7px;
    left: 12px;
}

@media (max-width: 767px) {
    .content ul li:after {
        top: 4px;
    }
}

.footer {
    background-color: #eef7f1;
    border-top: #4cb76f 2px solid;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (max-width: 767px) {
    .footer {
        padding-top: 15px;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .footer .logo {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .footer .logo img {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .footer .logo img {
        width: 200px;
    }
}

.footer .footer-nav ul {
    margin-top: 12px;
}

@media (max-width: 991px) {
    .footer .footer-nav ul {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .footer .footer-nav ul {
        margin-top: 15px;
    }
}

.footer .footer-nav ul li {
    display: inline-block;
    margin-right: 45px;
}

@media (max-width: 1200px) {
    .footer .footer-nav ul li {
        margin-right: 25px;
    }
}

.footer .footer-nav ul li:last-child {
    margin-right: 0;
}

.footer .footer-nav ul li a {
    position: relative;
    text-decoration: none;
    color: #497156;
    font-size: 12px;
    font-weight: 500;
}

.footer .footer-nav ul li a:hover {
    text-decoration: underline;
}

.pop-menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50px;
    z-index: 1000;
    display: none;
    padding-top: 20px;
}

@media (max-width: 991px) {
    .pop-menu {
        top: 25px;
    }
}

.pop-menu .pop-block {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.pop-menu .punkts {
    background-color: #eef7f1;
    float: left;
    width: 261px;
    height: 300px;
}

@media (max-width: 1200px) {
    .pop-menu .punkts {
        width: 220px;
    }
}

@media (max-width: 991px) {
    .pop-menu .punkts {
        width: 195px;
        height: 265px;
    }
}

.pop-menu .punkts ul li {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    color: #000;
    padding: 6px 15px 5px;
    position: relative;
    cursor: pointer;
}

@media (max-width: 991px) {
    .pop-menu .punkts ul li {
        font-size: 13px;
        padding-left: 8px;
    }
}

@media (max-width: 767px) {
    .pop-menu .punkts ul li {
        font-size: 12px;
    }
}

.pop-menu .punkts ul li:hover {
    color: #358e52;
    text-decoration: none;
    border-bottom: none;
}

.pop-menu .punkts ul li.active {
    color: #fff;
    background: #80c352;
    /* Old browsers */
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #80c352), color-stop(100%, #368f52));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #80c352 0%, #368f52 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #80c352 0%, #368f52 100%);
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#80c352), to(#368f52));
    background: linear-gradient(to bottom, #80c352 0%, #368f52 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
}

.pop-menu .punkts ul li.active::after {
    content: '';
    border: 6px solid transparent;
    /* Прозрачные границы */
    border-right: 6px solid #fff;
    /* Добавляем треугольник */
    position: absolute;
    right: 0;
    top: 12px;
}

.pop-menu .pop-menu-content {
    background-color: #fff;
    float: left;
    display: none;
    height: 300px;
}

@media (max-width: 991px) {
    .pop-menu .pop-menu-content {
        height: 265px;
    }
}

.pop-menu .pop-menu-content.active {
    display: block;
}

.pop-menu .pop-menu-content .column {
    width: 164px;
    float: left;
    margin-left: 30px;
}

@media (max-width: 1200px) {
    .pop-menu .pop-menu-content .column {
        width: 150px;
        margin-left: 25px;
    }
}

@media (max-width: 991px) {
    .pop-menu .pop-menu-content .column {
        width: 112px;
        margin-left: 10px;
    }
}

.pop-menu .pop-menu-content .column header {
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    height: 36px;
    line-height: 38px;
    padding-top: 1px;
}

@media (max-width: 1200px) {
    .pop-menu .pop-menu-content .column header {
        font-size: 13px;
    }
}

@media (max-width: 991px) {
    .pop-menu .pop-menu-content .column header {
        font-size: 11px;
        line-height: 32px;
    }
}

.pop-menu .pop-menu-content .column ul {
    margin-top: 5px;
    margin-bottom: 8px;
}

@media (max-width: 1200px) {
    .pop-menu .pop-menu-content .column ul {
        margin-top: 3px;
    }
}

@media (max-width: 991px) {
    .pop-menu .pop-menu-content .column ul {
        margin-top: -5px;
    }
}

.pop-menu .pop-menu-content .column ul li {
    padding-right: 0;
    margin-right: 0;
    display: block;
}

@media (max-width: 991px) {
    .pop-menu .pop-menu-content .column ul li {
        margin-bottom: -3px;
    }
}

.pop-menu .pop-menu-content .column ul li a {
    color: #5c705f;
    font-size: 14px;
}

@media (max-width: 1200px) {
    .pop-menu .pop-menu-content .column ul li a {
        font-size: 13px;
        line-height: 15px;
    }
}

@media (max-width: 991px) {
    .pop-menu .pop-menu-content .column ul li a {
        font-size: 10px;
        line-height: 10px;
    }
}

.pop-menu .pop-menu-content .column ul li:hover {
    border-bottom: none;
}

.pop-menu .pop-menu-content .column ul li:hover a {
    color: #358e52;
    text-decoration: underline;
}

.pop-city {
    z-index: 5000;
    top: -50px;
}

.pop-city.active {
    display: block;
}

.pop-city .punkts {
    width: 164px;
    height: 443px;
}

@media (max-width: 1200px) {
    .pop-city .punkts {
        width: 160px;
    }
}

@media (max-width: 991px) {
    .pop-city .punkts {
        height: 350px;
    }
}

@media (max-width: 767px) {
    .pop-city .punkts {
        width: 50%;
    }
}

.pop-city .punkts ul {
    margin-top: 20px;
}

@media (max-width: 1200px) {
    .pop-city .punkts ul {
        margin-top: 10px;
    }
}

.pop-city .punkts ul li {
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
}

@media (max-width: 767px) {
    .pop-city .punkts ul li {
        font-size: 11px;
    }
}

.pop-city .punkts ul li.active::after {
    top: 10px;
}

.pop-city .punkts ul li img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px;
    position: relative;
    top: -1px;
    margin-left: 13px;
}

@media (max-width: 1200px) {
    .pop-city .punkts ul li img {
        margin-left: 5px;
        margin-right: 10px;
    }
}

@media (max-width: 767px) {
    .pop-city .punkts ul li img {
        margin-left: 0px;
        margin-right: 5px;
    }
}

.pop-city .pop-menu-content {
    overflow-y: scroll;
    height: 427px;
    width: 976px;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    .pop-city .pop-menu-content {
        width: 780px;
    }
}

@media (max-width: 991px) {
    .pop-city .pop-menu-content {
        width: 560px;
        height: 350px;
    }
}

@media (max-width: 767px) {
    .pop-city .pop-menu-content {
        width: 50%;
    }
}


.pop-city .pop-menu-content .column ul {
    margin-top: 27px;
    margin-bottom: 15px;
}

@media (max-width: 1200px) {
    .pop-city .pop-menu-content .column ul {
        margin-top: 13px;
    }
}

@media (max-width: 767px) {
    .pop-city .pop-menu-content .column ul {
        margin-bottom: 0;
    }
}

@media (max-width: 991px) {
    .pop-city .pop-menu-content .column ul li {
        margin-bottom: -5px;
    }
}

@media (max-width: 767px) {
    .pop-city .pop-menu-content .column ul li {
        margin-bottom: 0px;
    }
}

.pop-city .pop-menu-content .column ul li a {
    color: #5c705f;
    font-size: 14px;
    text-decoration: none;
}

@media (max-width: 991px) {
    .pop-city .pop-menu-content .column ul li a {
        font-size: 11px;
        line-height: 11px;
    }
}

@media (max-width: 767px) {
    .pop-city .pop-menu-content .column ul li a {
        font-size: 12px;
    }
}

.pop-city .pop-menu-content .column ul li:hover a {
    color: #358e52;
    text-decoration: underline;
}

.pop-time-1 {
    width: 100%;
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 5000;
    display: none;
}

@media (max-width: 767px) {
    .pop-time-1 {
        top: 60px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.pop-time-1.active {
    display: block;
}

.pop-time-1 .block {
    background-image: url(../img/foto-pop.jpg);
    margin: 0 auto;
    width: 750px;
    background-position: 100% 0;
    -webkit-background-size: 50% 100%;
    background-size: 50% 100%;
    position: relative;
}

@media (max-width: 991px) {
    .pop-time-1 .block {
        width: 550px;
    }
}

@media (max-width: 767px) {
    .pop-time-1 .block {
        width: 100%;
    }
}

.pop-time-1 .block .close {
    position: absolute;
    right: -40px;
    top: 0;
    cursor: pointer;
}

@media (max-width: 767px) {
    .pop-time-1 .block .close {
        top: -40px;
        right: 10px;
    }
}

.pop-time-1 .cont {
    width: 50%;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 0;
}

@media (max-width: 991px) {
    .pop-time-1 .cont {
        width: 70%;
    }
}

@media (max-width: 767px) {
    .pop-time-1 .cont {
        width: 100%;
    }
}

.pop-time-1 .cont header {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

@media (max-width: 767px) {
    .pop-time-1 .cont header {
        font-size: 25px;
        line-height: 29px;
    }
}

.pop-time-1 .cont .desc {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .pop-time-1 .cont .desc {
        margin-top: 9px;
        margin-bottom: 9px;
    }
}

.pop-time-1 .cont form input[type="email"] {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 9px;
    padding-bottom: 4px;
}

.pop-time-1 .cont form input[type="submit"] {
    line-height: 38px;
    width: 195px;
    display: block;
    margin: 0px auto 14px;
}

@media (max-width: 767px) {
    .pop-time-1 .cont form input[type="submit"] {
        margin-bottom: 10px;
        padding-top: 2px;
    }
}

.pop-time-1 .cont form .styled-select {
    width: 100%;
    margin-bottom: 20px;
}

.pop-time-1 .cont .signin {
    text-align: center;
    color: #2f2f2f;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 35px;
}

.pop-time-1 .cont .signin a {
    display: block;
    text-decoration: none;
}

.pop-time-1 .cont .signin a:hover {
    text-decoration: underline;
}

.styled-select {
    background: url(../img/down-arr.jpg) no-repeat 96% 0;
    height: 38px;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    font-size: 12px;
}

.styled-select select {
    background: transparent;
    font-size: 12px;
    border: none;
    font-size: 14px;
    height: 38px;
    /* If you add too much padding here, the options won't show in IE */
    width: 20px;
}

.styled-select.slate {
    font-size: 12px;
    background: url(../img/down-arr.jpg) no-repeat right center;
    height: 38px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 240px;
    background-color: #fff;
}

.styled-select.slate select {
    border: 1px solid #ebebeb;
    overflow: hidden;
    color: #5c5c5c;
    font-size: 12px;
    height: 38px;
    width: 110%;
    padding: 9px 7px 5px;
    line-height: 30px;
}

.pop-time-2 {
    position: fixed;
    width: 100%;
    top: 13px;
    z-index: 2000;
    display: none;
}

.pop-time-2.active {
    display: block;
}

.pop-time-2 .block {
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding-left: 25px;
    height: 70px;
    position: relative;
}

@media (max-width: 767px) {
    .pop-time-2 .block {
        width: 290px;
        padding-left: 15px;
        height: 95px;
    }
}

.pop-time-2 .close-small {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.pop-time-2 .fire {
    position: relative;
    top: 13px;
    margin-right: 10px;
    vertical-align: top;
}

@media (max-width: 767px) {
    .pop-time-2 .fire {
        margin-right: 5px;
    }
}

.pop-time-2 .fire::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    display: block;
}

.pop-time-2 .text {
    margin-top: 21px;
    display: inline-block;
    width: 240px;
    font-size: 14px;
    line-height: 17px;
    vertical-align: top;
}

@media (max-width: 767px) {
    .pop-time-2 .text {
        font-size: 12px;
        width: 200px;
    }
}

.pop-time-2 .btn {
    vertical-align: top;
    padding: 2px 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    margin-top: 24px;
}

@media (max-width: 767px) {
    .pop-time-2 .btn {
        position: absolute;
        right: 10px;
        top: 35px;
    }
}

.red {
    color: #ee3131;
}

.search-line {
    background-color: #eef7f1;
    border-top: 2px solid #4cb76f;
    margin-top: 40px;
    height: 40px;
}

.search-line .styled-select {
    width: 125% !important;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
}

.login-cont {
    padding-bottom: 50px;
    min-height: 100vh;
}

.login-cont .logo {
    position: relative;
    z-index: 10000;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (max-width: 767px) {
    .login-cont .logo {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.login-cont .logo img {
    width: 220px;
}

.login {
    display: block;
    position: relative;
    top: 0;
    z-index: 5000;
}

@media (max-width: 767px) {
    .login .cont {
        padding-left: 18px;
        padding-right: 18px;
    }
}

.login .cont header {
    font-size: 30px;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .login .cont header {
        font-size: 25px;
    }
}

.login .cont .desc {
    width: 80%;
    line-height: 18px;
    font-size: 18px;
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    .login .cont .desc {
        font-size: 14px;
        margin-bottom: 15px;
    }
}

.login .cont .desc-small {
    margin-bottom: 12px;
    font-size: 13px;
}

@media (max-width: 767px) {
    .login .cont .desc-small {
        font-size: 11px;
    }
}

.login .cont form input[type="submit"] {
    width: 100%;
}

.login .cont .or {
    text-align: center;
    position: relative;
    margin-bottom: 8px;
}

.login .cont .or::after {
    content: '';
    position: absolute;
    top: 45%;
    width: 100%;
    height: 1px;
    display: block;
    background-color: #ebebeb;
}

.login .cont .or .text {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    z-index: 10;
    background-color: #fff;
}

.login .cont .signin ul {
    margin-top: 10px;
}

.login .cont .signin ul li {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: #fff;
    line-height: 38px;
    font-size: 16px;
}

@media (max-width: 767px) {
    .login .cont .signin ul li {
        width: 30px;
        height: 30px;
        font-size: 15px;
        line-height: 32px;
    }
}

.login .cont .signin ul li.twitter {
    background-color: #01c5ff;
}

.login .cont .signin ul li.ok {
    background-color: #ff9d3a;
}

.login .cont .signin ul li.mail {
    background-color: #004191;
}

.login .cont .signin ul li.google {
    background-color: #ff6e45;
}

.login .cont .signin ul li.vk {
    background-color: #4b97c9;
}

.login .cont .signin ul li.facebook {
    background-color: #386197;
}

.login .cont .signin ul li.inco {
    background-color: #ff5100;
}

.login-cont ~ .overlay {
    display: block;
    background-color: #eef7f7;
}
