h1, .h1 {
    font-size: 1.8em;
}

/**Category submenu*/
.nav-stacked .submenu {
    background-color: #FFF;
    list-style-type: none;
    display: none;
}

.nav-stacked .active .submenu {
    display: block;
    padding-left: 14px;
}

.nav-stacked .submenu li a {
    font-size: 13px;
    line-height: 20px;
    position: relative;
    color: #666;
    margin-left: 18px;
}

.nav-stacked .submenu li a:after {
    content: "\f105";
    position: absolute;
    left: -15px;
    top: -2px;
    bottom: 0;
    color: #666;
    font-size: 13px;
    font-family: fontawesome;
}

.nav-stacked .submenu li a span {
    margin-left: 2px;
    background: #2a8fbd;
    color: #fff;
    padding: 1px 3px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 10px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}

.category-active {
    background: #fbfbfb !important;
    color: #2a8fbd !important;
}

.category-active .fa {
    background: #2a8fbd !important;
    color: #fff !important;
}

.category-active .fa:before {
    opacity: 1 !important;
}

.category-active span {
    background: #2a8fbd !important;
    color: #fff !important;
}

.product-thumb .product-header > img {
    min-height: 175px;
    object-fit: cover;
}

.product-header {
    min-height: 175px;
    background-color: #FFF;
}

.offers {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.offers .offer {

}

/**Category submenu*/

.wide-menu {
    width: 100%;
}

.wide-menu div.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.scrollable-menu {
    height: auto;
    max-height: 420px;
    overflow-x: hidden;
}

.top-area, .top-area img {
    height: 420px;
}

.dropdown.inherit {
    position: inherit;
}

.nopadding {
    padding: 0 5px;
    margin: 0;
}

.tag {
    position: absolute;
    right: 0;
}

.tag a {
    color: #999;
    font-size: 12px;
}
